.login{
    border: 5px double  #6892bf;
    margin-left:500px;
    margin-right : 500px;
    margin-top : 130px;
    background:#99c5f5;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 230px;
    margin-bottom: 20px;
}
.form-group label {
    display: inline-block;
    margin-bottom: .5rem;
    color: seagreen;
}
h1{  
        color:blue;
        margin-left:590px;
        margin-bottom:100px;
       
}